@import url('https://fonts.googleapis.com/css2?family=Love+Light&family=Roboto:wght@300;400;700&display=swap');




* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;

}

/*Formatação Header e Menu */

.cabecalho {
    box-sizing: border-box;
    width: 100%;
    height: 70px;
    background-color: rgb(82, 17, 82);
    padding: 10px;
    display: flex;
    align-items: center;
}

.menu {
    width: 90%;
    display: flex;
    justify-content: space-between;


}

.logo {
    font-size: 1.5rem;
    font-weight: 700;
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 30px;
}
.menu a {
    text-decoration: none;
    color: #ffffff;
}

.menu li {
    cursor: pointer;
}

.menu li:hover {
    color: rgb(226, 226, 12);
    transition-duration: .5s;
}











/* Formatação Parte Principal */

h2 {
    text-align: center;
    color: whitesmoke;
    font-size: 2rem;

}




main {

    width: 100%;
}

.calculadora {
    background-color: rgb(82, 17, 82);
    color: #000;
    max-width: 600px;
    height: auto;
    padding: 30px;
    border-radius: 10px;
    margin: auto;
    margin-top: 20px;
    display: none;

}

.active {
    background-color: rgb(82, 17, 82);
    color: #000;
    max-width: 600px;
    height: auto;
    padding: 30px;
    border-radius: 10px;
    margin: auto;
    margin-top: 20px;
    display: block;


}




/*Formatação Inputs */

input {
    display: block;
    width: 100%;
    padding: 8px;
    margin-bottom: 5px;
    box-sizing: border-box;
}

/* Formatação Resultado */
.resultado {
    margin-top: 10px;
    color: rgb(226, 226, 12);
}